@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Playfair+Display');

body {
  background-color: cornflowerblue;
  color: black;
  font-family: 'Playfair Display', serif;

  font-weight: 50;
  font-size: 25px;
}

.App {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
}

.heading {
  padding: 10px;
  font-family: 'Cutive Mono', monospace;
  margin-top: 75px;
}

.searchHeading {
}

.navlinks a {
  text-decoration: none;
  color: black;
  padding: 5px;
  font-size: 20px;
  font-family: 'Cutive Mono', monospace;
}

.navlinks a:hover {
  background-color: white;
}

.searchInput {
  height: 10vh;
}

#wheelchairAccess {
  display: inline-block;
}

.tripList {
  text-align: center;
}

.trip {
  font-size: 1em;
  border: solid white 2px;
  padding: 5px;
  margin: 50px;
  list-style: none;
  display: inline-block;
  width: 50vw;

}

.trip:hover {
  background-color: pink;
}
